body {
    background-color:white;
    font-family: 'Mukta Vaani', Helvetica, sans-serif;
}

#hello {
    font-family: 'Bevan', Helvetica, cursive;
}

#wrapper {
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

#knockout {
    color: white;
}

.center{
    text-align: center;
}


.break {
    height:60px;
}

.jumbotron {
    margin-bottom: 20px;
    background-color: white;
    height: 600px
}
